[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
autopep8 = "*"
pylint = "*"
djangorestframework = "*"
django-cors-headers = "*"
pylint-django = "*"
pillow = "*"
gunicorn = "*"
django-on-heroku = "*"
cloudinary = "*"

[requires]
python_version = "3.9"
